@model Application.ViewModel.ProducerViewModel

@{
    ViewData["Title"] = "Detalles del Productor";
}

<div class="container mt-4">
    <h2 class="text-white" style="font-family: 'Poppins', sans-serif; font-size: 3rem; font-weight: 600;">
        Detalles del Productor
    </h2>

    <div class="mt-4 p-4 bg-dark shadow-lg rounded-3">
        <h4 class="text-danger">Información del Productor</h4>
        <hr class="text-secondary" />

        <dl class="row text-white">
            <dt class="col-sm-3" style="font-size: 1.2rem;">Nombre</dt>
            <dd class="col-sm-9" style="font-size: 1.2rem;">@Model.Name</dd>
        </dl>
    </div>

    <div class="d-flex justify-content-between mt-4">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning btn-lg rounded-pill px-4">Editar</a>
        <a asp-action="Index" class="btn btn-secondary btn-lg rounded-pill px-4">Volver al Listado</a>
    </div>
</div>
